<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Facelet Title</title>
</h:head>
<h:body>
	<div class="card">
		<h:form>

			<p:megaMenu orientation="horizontal" autoDisplay="false">
				<p:menuitem value="Employees" icon="pi pi-fw pi-users"
					action="#{loginBean.employees}" />
				<p:menuitem value="Users" icon="pi pi-fw pi-users"
					action="#{loginBean.users}" />
				<p:menuitem value="Airports" icon="pi pi-fw pi-users"
					action="#{loginBean.airports}" />
				<p:menuitem value="Logout" action="#{loginBean.logout}"
					icon="pi pi-fw pi-sign-out" style="margin-left: 1020;"></p:menuitem>
			</p:megaMenu>
			<div class="card" style="width: 100%">
				<p:barChart model="#{chartBean.barModel}"
					style="width: 100%; height: 500px;" />
			</div>
		</h:form>
	</div>
</h:body>
</html>