<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Airports</title>
</h:head>
<h:body onload="#{airportBean.init()}">
<h:form id="form">
    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        
        <p:dataTable id="airports" var="airport" value="#{airportBean.airports}" editable="true"
                     style="margin-bottom:20px">

            <p:ajax event="rowEdit" listener="#{airportBean.onRowEdit}" update=":form:msgs"/>
            <p:ajax event="rowEditCancel" listener="#{airportBean.onRowCancel}" update=":form:msgs"/>
			
            
            <p:column headerText="Country">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{airport.countryName}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{airport.countryName}" style="width:100%" label="Country" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
			
			<p:column headerText="City">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{airport.cityName}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{airport.cityName}" style="width:100%" label="City" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>	
            			
           <p:column style="width:6rem">
                <p:rowEditor editTitle="Edit Row" cancelTitle="Cancel Edit" saveTitle="Save Row"/>
            </p:column>
            <p:column style="width:6rem">
            	<p:commandButton action="#{airportBean.deleteAirport(airport)}" update="airports" icon="pi pi-trash">
            	</p:commandButton>
            </p:column>
        </p:dataTable>
        <div class="p-grid p-mt-3">
            <div class="p-col-12">
                <p:commandButton value="Add new row" process="@this" update="airports"
                                 action="#{airportBean.addRow}" />
            </div>
        </div>
    </div>

  
</h:form>


</h:body>
</html>