<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Employees</title>
</h:head>
<h:body onload="#{employeeBean.init()}">
<h:form id="form">
    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        
        <p:dataTable id="employees" var="employee" value="#{employeeBean.employees}" editable="true"
                     style="margin-bottom:20px">

            <p:ajax event="rowEdit" listener="#{employeeBean.onRowEdit}" update=":form:msgs"/>
            <p:ajax event="rowEditCancel" listener="#{employeeBean.onRowCancel}" update=":form:msgs"/>
			
            
            <p:column headerText="Name">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employee.name}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{employee.name}" style="width:100%" label="Name" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
			
			<p:column headerText="Surname">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employee.surname}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{employee.surname}" style="width:100%" label="Surname" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>	
            
            <p:column headerText="Username">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employee.username}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{employee.username}" style="width:100%" label="Username" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
			
			<p:column headerText="Password">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employee.password}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{employee.password}" style="width:100%" label="Password" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>	          
			
           <p:column style="width:6rem">
                <p:rowEditor editTitle="Edit Row" cancelTitle="Cancel Edit" saveTitle="Save Row"/>
            </p:column>
            <p:column style="width:6rem">
            	<p:commandButton action="#{employeeBean.deleteEmployee(employee)}" update="employees" icon="pi pi-trash">
            	</p:commandButton>
            </p:column>
        </p:dataTable>
        <div class="p-grid p-mt-3">
            <div class="p-col-12">
                <p:commandButton value="Add new row" process="@this" update="employees"
                                 action="#{employeeBean.addRow}" />
            </div>
        </div>
    </div>

  
</h:form>


</h:body>
</html>