<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>ETFBL_Admin</title>
</h:head>
<h:body>
	<div class="card ">
		<h:form>
			<h3>Login to account</h3>
			<div class="p-field p-grid">
				<label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Username</label>
				<div class="p-col-12 p-md-10">
					<p:inputText id="username" type="text" value="#{loginBean.user}" />
				</div>
			</div>
			<br></br>
			<br></br>

			<div class="p-field p-grid">
				<label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Password</label>
				<div class="p-col-12 p-md-10">
					<p:inputText id="password" type="password" value="#{loginBean.pwd}"/>
				</div>
			</div>
			<br></br>
			<br></br>

			<p:commandButton action="#{loginBean.validateUsernamePassword}"
				value="Login"></p:commandButton>

		</h:form>
	</div>

</h:body>
</html>