<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Facelet Title</title>
</h:head>
<h:body onload="#{userBean.init()}">
<h:form id="form">
    <p:growl id="msgs" showDetail="true"/>

    <div class="card">
        
        <p:dataTable id="users" var="user" value="#{userBean.users}" editable="true"
                     style="margin-bottom:20px">

            <p:ajax event="rowEdit" listener="#{userBean.onRowEdit}" update=":form:msgs"/>
            <p:ajax event="rowEditCancel" listener="#{userBean.onRowCancel}" update=":form:msgs"/>
			
            
            <p:column headerText="Name">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{user.name}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{user.name}" style="width:100%" label="Name" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
			
			<p:column headerText="Surname">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{user.surname}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{user.surname}" style="width:100%" label="Surname" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>	
            
            <p:column headerText="Username">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{user.username}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{user.username}" style="width:100%" label="Username" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
			
			<p:column headerText="Password">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{user.password}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{user.password}" style="width:100%" label="Password" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>	
            
            <p:column headerText="Email">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{user.email}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText type="email" value="#{user.email}" style="width:100%" label="Email" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
			
			<p:column headerText="User Type">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{user.userType}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{user.userType}" style="width:100%" label="UserType" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>	
            
            <p:column headerText="Country">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{user.country}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{user.country}" style="width:100%" label="Country" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
			
			<p:column headerText="Address">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{user.address}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{user.address}" style="width:100%" label="Address" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>	
           
			
           <p:column style="width:6rem">
                <p:rowEditor editTitle="Edit Row" cancelTitle="Cancel Edit" saveTitle="Save Row"/>
            </p:column>
            <p:column style="width:6rem">
            	<p:commandButton action="#{userBean.deleteUser(user)}" update="users" icon="pi pi-trash">
            	</p:commandButton>
            </p:column>
        </p:dataTable>
        <div class="p-grid p-mt-3">
            <div class="p-col-12">
                <p:commandButton value="Add new row" process="@this" update="users"
                                 action="#{userBean.addRow}" />
            </div>
        </div>
    </div>

  
</h:form>


</h:body>
</html>